body {background-color: #fdfdfd;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin: 0;
    padding: 0;
}

#navbar {
    width: 100%;
    height: 40px;
    background-color: darkslategray;
    transition: 0.3s;
}
#navbar:hover {
    height: 65px;
}

.listItem {
    padding-top: 5px;
    list-style-type: none;
    display: inline-block;
    float: right;
    margin-right: 16px;
}
.listItem a {
    color: lightgrey;
    text-decoration: none;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#brand {
    float: left;
}
.listItem a:hover {
    color: cornflowerblue;
}

header {
    height: 70vh;
    min-height: 600px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

#imageBox {
    height: 300px;
    width: 300px;
    background-image: url('./mountain.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
#greetingBox {
    color:darkslategray;
}